<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1></h1>
<form th:action="@{/person/add}" method="post" th:object="${person}">
    <div>
        <label for="">Nom</label></br>
        <input type="text" class="form-control" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>

    <div>
        <label for="">Prenom</label></br>
        <input type="text" class="form-control" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>

    <div>
        <label for="">Date de naissaince</label></br>
        <input type="date" class="form-control" th:field="*{birthdate}">
        <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
    </div>

    <button type="submit">Envoyer</button>

</form>

</body>
</html>